/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.nexa-chain-ai-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.nexa-img {
  height: 80px;
}

.chain-img {
  height: 80px;
  background: black;
  padding: 10px 15px;
}

.ai-img {
  height: 80px;
  color: #ff00ff; /* Hot pink color */
}

.hero-text {
  font-family: Heebo;
  margin-top: 20px;
  font-size: 18px;
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
  color: black;
}
